/**
 * Ettan
 */

.ettan-site-name {
    background: #f1f1f1;
    float: right;
    padding: 1px 15px;
    border: solid 1px #dadada;
    margin-top: -21px;
    min-width: 80px;
}
.ettan-site-name a, .ettan-site-name a:visited, .ettan-site-name a:visited {
    color: #222;
    text-decoration: none;
}