/**
 * 	Header styles
 */

#banner {
    height: 180px;
}
hgroup {
    h1 {
        font-family: Impact, Charcoal, sans-serif;
        font-weight: 100;
        letter-spacing: 0.04em;
        margin: 12px 0 0 0;
        line-height: 1em;
    }

    h2 {
        position: absolute;
        text-indent: -999em;
        opacity: 0;
        z-index: -1;
    }

    a, a:visited {
        color: #000;
        text-decoration: none;
        background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARhJREFUeNqUktmKg0AQRdPtEokLRFCIgi+C//81PituqFFExSBuc2cEJzNJBOtB7K66t45VkmVZTkeCvr2d5/mTgN3ekiSpqspxnK7rfN9nWdayrMvl8lHQ931d157nlWU5TRNQ27a9/QSl9A3SipGmKc/z6GPbNo5o5boujLYyAqdhGMIwzPOcEKJpmmmaHMch93g8giC43+/A03XdMAx4kaIo4jhumkaWZUArivIPOsuyKIoALEkSNFQUxev1ij4wfq1GwFtVVXwG7KCh5/MZjZDYWQhQ8Vwr6X7pc6xl9HQwngZM6T7Sn8XhCmPFrF7xkMIeNrtfARaM3T2bbegMw2yC78WN44gx76PDSBAEyMjR3/tLgAEASf2Kdd2kDfkAAAAASUVORK5CYII=) no-repeat 0 12px;
        padding-left: 24px;
    }
}

.rss-icon {
    width: 36px;
    height: 36px;
    display: block;
    background: transparent url(images/rss-icon.png) no-repeat top left;
    float: right;
}