@media only screen and (max-width: 768px) {
    #container, .narrow-column, .wide-column, .two-col, .three-col, #footer section {
        width: 100%;
    }
    #header .wide-column {
        width: auto;
        margin: 0;
    }
    #header .narrow-column {
        width: 180px;
        text-align: right;
    }
    .header-bottom {
        padding: 0 10px;
    }
    .rss-icon {
        display: none;
    }
    #s, .csstransitions #s:focus {
        width: 150px;
        line-height: 20px;
    }
    #main {
        padding: 0;
    }
    #content, .sidebar {
        padding-left: 10px;
        padding-right: 10px;
    }

    #banner {
        background-position: center center;
        height: 90px;
    }
    .cssvwunit #banner {
        background-size: 100%;
        height: 18vw;
    }
    article.post.ettan .entry-title {
        width: auto;
    }
}