/**
 * Social media i sidospalten
 */

.social {

    border-top: solid 1px #DADADA;
    padding: 0.5em 0;
    margin: 0.5em 0;

    .icon-social, .social-text {
        float: right;
    }
    .social-text {
        font-weight: 100;
        letter-spacing: 0.04em;
        line-height: 45px;
        font-family: 'Impact';
        font-size: 14px;
        margin-right: 0.5em;
    }
}

.icon-social {
    background: transparent url(images/social.png) no-repeat top left;
    width: 32px;
    height: 32px;
    display: block;
    border: none;
    margin-right: 0.25em;
}

.icon-facebook {
    background-position: -32px 0;
}

.icon-gplus {
    background-position: -64px 0;
}